
<!doctype HTML>
<html ng-app="customApp">
	<head>
		<title><%= title %></title>
		<link rel="preconnect" href="maxcdn.bootstrapcdn.com" crossorigin />
		<link rel="preconnect" href="ajax.googleapis.com" crossorigin />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/resource/js/dist/app.bundle.css" />
		<base href="/">
	</head>
	<body ng-controller="appController as actrl">
		<%if (typeof agentDetails == 'object'){ %>
			<div id="loggedInAgent">
				<div data-name="<%= agentDetails.name %>" data-lang="<%= agentDetails.language %>" data-mobile="<%= agentDetails.phoneNumber %>" data-cc="<%= agentDetails.countryCode %>" class="agent-details"></div>
			</div>
		<% } %>
		<div ng-view></div>
		<script src="/resource/js/dist/app.bundle.js" type="text/javascript"></script>
	</body>
</html>
